*{
          margin: 0;
          box-sizing: border-box;
}

body{
  color: white;
  background-color:rgb(19, 19, 20);
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

 

img{
          opacity: 0.6;
}

/* #inputPart{
  height: 30px;
  width: 1000px;
  background-color: black;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 30px;
  border: 2px solid rgba(255, 255, 255, 0.685);
} */

#inputPart{
  height: 40px;
  width: 70%;
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
  background: rgb(30, 31, 32);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);  
 
  border: 1.5px solid rgba(255, 255, 255, 0.377);
  color: white;
  border-radius: 16px;
  overflow: hidden;  
}

.hidden{
  display: none  !important;
}

#titleIcon{
 height: 7vh;
 
}
.titleZone{
display: flex;
justify-content: center;
align-items: center;
 
background: #CE5937;
background: -moz-linear-gradient(top,#000000bd 0%, #302f2f 60%, rgb(19, 19, 20) 100%);
background: -webkit-linear-gradient(top, #000000bd 0%, #302f2f 60%, rgb(19, 19, 20) 100%);
background: linear-gradient(to bottom, #000000bd 0%, #302f2f 60%, rgb(19, 19, 20) 100%);
  
}

#mainTitle{
   font-size: 7vh;
}

 img:hover{

transform: scale(1.02);
opacity: 1;
border-radius: 12px;
 }

 .galleryPart{
          display: grid;
          grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
           gap: 2rem; 
   
  max-width: 1200px; 
  margin: 0 auto; 
  
  padding: 2rem;
     
 }



 

.domaPart > a{
  text-decoration: none;
  color: white;
  font-size: 9px;
}
.domaPhara{
        font-size: 10px;
          font-family: Arial, Helvetica, sans-serif;
 }

 .searchPartFeed{

 }

 h1{
        text-align: center;
        margin-top: 11%;
        margin-bottom: 5%;
 }

 .searchPart{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
 }

 


 .imgAlbum{
          border-radius: 10px;
          width: 80%;
          
 }

.albumSongName{
    white-space: nowrap;
    overflow:  hidden ; 
    text-overflow: ellipsis;
    width: 80%;
     color: white;
     font-size: 20px;
 }

 .anchorNameAlbum{
  color: white;
  text-decoration: none;
 }

.artistPart{
   white-space: nowrap;
   overflow:  hidden ; 
   text-overflow: ellipsis;
   width:  80%;
   font-size: 15px;
   opacity: 0.5;
 }

 footer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  background-color: #111111;
}

footer>a{
  text-decoration: none;
  color: white;
}


.searchPartFeed > audio{
width: calc(100vw/4);
background-color: #111111;
 
}
 
.image-container {
  position: relative;  
  width: 100%;
  border-radius: 12px;  
  overflow: hidden;
}
 
.glass-button {
   
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%); 
  z-index: 10;
 
  width: 60px;
  height: 60px;
  border-radius: 50%;
   
  display: flex;
  justify-content: center;
  align-items: center;
   
  color: white; 
  cursor: pointer;
 
  background: rgba(255, 255, 255, 0.15);  
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-top: 1px solid rgba(255, 255, 255, 0.26);  
  border-left: 1px solid rgba(255, 255, 255, 0.26);  
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);  
   
  transition: all 0.4s ease;
}
 
.glass-button:hover {
  background: rgba(255, 255, 255, 0);  
  transform: translate(-50%, -50%) scale(1.1);  
    backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

 @media screen and (max-width: 600px) {


.galleryPart{
  
          display: grid;
          grid-template-columns: 1fr 1fr;
           
 }


  .domaPart{
   width: 40dvw;
}

.searchPartFeed{
width: 40dvw;
}
 
 
}
